#landing-page {
  background-image: url("../images/background/hero.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#landing-page .navbar-nav a {
  font-size: 20px;
  color: white;
  margin-right: 60px;
  font-family: sans-serif;
}
